%div.home-body
  %div.row
    %div.small-12.columns.home
      %div.small-12.medium-6.columns.mission
        = raw(@page.content_for(:mission))
      %br.show-for-small-only
      %div.small-12.medium-6.columns.sign-up
        %div#sign-up-form
          %h1 Sign Up
          = form_for :user do |f|
            %div.row
              %div.field.small-6.columns
                = f.text_field :first_name, class: 'input', required: 'required', placeholder: 'First Name'
              %div.field.small-6.columns
                = f.text_field :last_name, class: 'input', required: 'required', placeholder: 'Last Name'
            %div.row
              %div.field.small-12.columns.small-centered
                = f.email_field :email, class: 'input', required: 'required', placeholder: 'Email'
            %div.row.bottom
              %div.field.small-6.columns.left
                = f.text_field :phone, class: 'input', placeholder: 'Phone'
              %div.actions.small-6.columns.right
                = f.submit 'Sign Up!', class: "custom-button-class"
  %div.row
    %div.large-12.large-centered.columns.spacing.hide-for-small-only
  %div.row.news-group
    %div.small-12.large-12.columns.news(data-equalizer)
      %div.large-4.medium-4.small-12.columns.news-panels.splits(data-equalizer-watch)
        = p raw(@page.content_for(:News1))
      %div.large-4.medium-4.small-12.columns.news-panels.splits(data-equalizer-watch)
        = raw(@page.content_for(:News2))
      %div.large-4.medium-4.small-12.columns.news-panels(data-equalizer-watch)
        = raw(@page.content_for(:News3))
  %div.row
    %div.large-12.large-centered.columns.spacing.hide-for-small-only
  %div.row
    %div.small-12.columns.social-media(data-equalizer)
      %div.small-12.medium-4.large-3.columns.social-media-panels.text-centered(data-equalizer-watch)
        %h3
          Follow Us On
          = link_to("Social Media", "/social-media")
      %div.small-12.medium-2.large-3.columns.social-media-panels.splits(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('facebook.png', class: 'social-media-img'), "/facebook")
        = raw(@page.content_for(:facebook))
      %div.small-12.medium-2.large-3.columns.social-media-panels.text-centered.splits(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('twitter.png', class: 'social-media-img'), "/twitter")
        = raw(@page.content_for(:twitter))
      %div.small-12.medium-2.large-3.columns.social-media-panels.text-centered(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('youtube.png', class: 'social-media-img'), "/youtube")
        = raw(@page.content_for(:youtube))

= render '/refinery/draft_page_message' unless @page.nil? or @page.live?

