%div.home-body
  %div.row
    %div.small-12.columns.home
      %div.small-12.medium-6.columns.mission
        = raw(@page.content_for(:mission))
      %br.show-for-small-only
      %div.small-12.medium-6.columns.sign-up
        %div#sign-up-form
          %h1 Sign Up
          %form{action: "https://sandbox.salsalabs.com/save", method: "POST"}
            %input{name: "organization_KEY", type: "hidden", value: "17800"}/
            %input{name: "object", type: "hidden", value: "supporter"}/
            %div.row
              %div.field.small-6.columns
                %input#first_name{name: "First_Name", type: "text", placeholder: 'First Name'}/
              %div.field.small-6.columns
                %input#last_name{name: "Last_Name", type: "text", placeholder: 'Last Name'}/
            %div.row
              %div.field.small-12.columns.small-centered
                %input#email{name: "Email", type: "text", placeholder: 'Email'}/
            %div.row.bottom
              %div.field.small-6.columns.left
                %input#notes{name: "Notes", type: "text", placeholder: 'Zip Code'}/
              %input{name: "tag", type: "hidden", value: "supporter"}/
              %input{name: "redirect", type: "hidden", value: "http://climbhighercolorado.herokuapp.com/"}/
              %div.actions.small-6.columns.right
                %input.custom-button-class{type: "Submit", value: "Sign up"}/
  %div.row
    %div.large-12.large-centered.columns.spacing.hide-for-small-only
  %div.row.news-group
    %div.small-12.large-12.columns.news(data-equalizer)
      %div.large-4.medium-4.small-12.columns.news-panels.splits(data-equalizer-watch)
        = p raw(@page.content_for(:News1))
      %div.large-4.medium-4.small-12.columns.news-panels.splits(data-equalizer-watch)
        = raw(@page.content_for(:News2))
      %div.large-4.medium-4.small-12.columns.news-panels(data-equalizer-watch)
        = raw(@page.content_for(:News3))
  %div.row
    %div.large-12.large-centered.columns.spacing.hide-for-small-only
  %div.row
    %div.small-12.columns.social-media(data-equalizer)
      %div.small-12.medium-4.large-3.columns.social-media-panels.text-centered(data-equalizer-watch)
        %h3
          Follow Us On
          = link_to("Social Media", "/social-media")
      %div.small-12.medium-2.large-3.columns.social-media-panels.splits(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('facebook.png', class: 'social-media-img'), "/facebook")
        = raw(@page.content_for(:facebook))
      %div.small-12.medium-2.large-3.columns.social-media-panels.text-centered.splits(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('twitter.png', class: 'social-media-img'), "/twitter")
        = raw(@page.content_for(:twitter))
      %div.small-12.medium-2.large-3.columns.social-media-panels.text-centered(data-equalizer-watch)
        %div.text-centered
          = link_to(image_tag('youtube.png', class: 'social-media-img'), "/youtube")
        = raw(@page.content_for(:youtube))

= render '/refinery/draft_page_message' unless @page.nil? or @page.live?

