%hr
  %div.row
    %div.small-12.columns(data-equalizer)
      %div.small-6.medium-4.large-4.columns.footer-panels
        %ul(data-equalizer-watch)
          %li.panel-title Additional Resources
          %li
            =raw(@footer.content_for(:Additional_Resources))
      %div.small-6.medium-4.large-4.columns.footer-panels
        %ul(data-equalizer-watch)
          %li.panel-title News
          %li
            =raw(@footer.content_for(:News))
      %div.small-6.medium-4.large-4.columns.footer-panels
        %ul(data-equalizer-watch)
          %li.panel-title Contact Us
          %li
            =raw(@footer.content_for(:Contact_Us))
  %div.row
    %div.small-12.centered.columns.footer-panels.text-center
      %ul.inline-list.social-media.text-center(data-equalizer-watch)
        %div.panel-title.text-center Stay Connected
        %li#facebook
          = image_tag('facebook.png')
        %li#twitter
          = image_tag('twitter.png')
        %li#linkedin
          = image_tag('linkedin.png')
        %li#youtube
          = image_tag('youtube.png')
        %li#google
          = image_tag('googleplus.png')

  %p.copyright.text-center
    = t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name)
