%hr
%div.row
  %div.large-12.small-12.columns.text-center
    %ul.large-2.small-5.panel.radius.footer-panels
      %h6.panel-title Additional Resources
      %li Tool Kits
      %li Downloadable Content
      %li Research Papers
      %li FAQs
      %li More Federal and State Resources
    %ul.large-2.small-5.panel.radius.footer-panels
      %h6.panel-title News
      %li Newsroom
      %li eNewsletter Archive
    %ul.large-2.small-5.panel.radius.footer-panels
      %h6.panel-title Contact Us
      %li Co Address
      %li Suite #
      %li Somewhere, Colorado 20000
      %li phone number
      %li fax number
    %ul.large-2.small-5.panel.radius.footer-panels.inline-list.social-media.panel-title
      %h6.panel-title Stay Connected
      %li.facebook
        = image_tag('facebook.png', size: "40x40")
      %li.twitter
        = image_tag('twitter.png', size: "40x40")
      %li.linkedin
        = image_tag('linkedin.png', size: "40x40")
      %li.instagram
        = image_tag('instagram.png', size: "40x40")
      %li.youtube
        = image_tag('youtube.png', size: "40x40")
      %li.google
        = image_tag('googleplus.png', size: "40x40")
%hr
%p.text-center
  = t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name)