<div class="row nav-pic fade-in">
  <style>
  .nav-pic{
    background: #fff;
    background-image: url('<%= @background_image %>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  </style>
  <div id="home-logo" class="small-1 medium-2 columns hide-for-small-only"><%= link_to logo, refinery.root_path %>
  </div>

  <div class="small-11 medium-10 columns main" >
    <div class="row search-row">

        <div class='login-form large-12 medium-12 columns hide-for-small-only'>
          <%= render "refinery/login_form" %>
        </div>

    </div>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <div id="home-logo" class="show-for-small-only"><%= link_to logo, refinery.root_path %>
          </div>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <%= zurb_menu(refinery_menu_pages, list_tag_css: 'right').to_html %>
        <li class='show-for-small-only'>
          <div class='login-form small-12 columns small-signin-spacing'>
            <%= render "refinery/login_form" %>
          </div>
        </li>
      </section>
    </nav>
  </div>
</div>

