<div class="row nav-pic fade-in" style="background-image: url(<%= @background_image %>); background-repeat:no-repeat">
  <div id="home-logo" class="small-4 medium-2 columns"><%= link_to logo, refinery.root_path %>
  </div>
  <div class="small-8 medium-10 columns main" >
    <div class="row search">

        <div class='login-form large-8 large-offset-2 columns right hide-for-small-only'>
          <%= render "refinery/login_form" %>
        </div>

    </div>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <%= zurb_menu(refinery_menu_pages, list_tag_css: 'right').to_html %>
        <li class='show-for-small-only'>
          <div class='login-form small-12 columns small-signin-spacing'>
            <%= render "refinery/login_form" %>
          </div>
        </li>
      </section>
    </nav>
  </div>
</div>

