<div class="row nav-pic fade-in" style="background: url(<%= @background_image %>)">
  <div class="small-10 small-offset-1 columns main" >
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <div class="row">
            <div class="small-10 columns">
              <h1 id="home-logo" class=" small-8 medium-1 large-4 columns"><%= link_to Refinery::Core.site_name, refinery.root_path %>
              </h1>
              <div class='login-form large-8 medium-8 columns right hide-for-small-only'>
                <%= form_for :user do |f| %>
                  <div class="field large-4 medium-4 columns" >
                   <%= f.text_field :first_name, class: 'input', required: 'required', placeholder: 'First Name' %>
                  </div>
                  <div class= 'field large-4 medium-4 columns' >
                    <%= f.text_field :last_name, class: 'input', required: 'required', placeholder: 'Last Name' %>
                  </div>
                  <div class= 'field large-1 medium-1 columns' >
                    <%= f.submit 'Sign Up!', class: "button radius" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <%= zurb_menu(refinery_menu_pages, list_tag_css: 'right').to_html %>
      </section>
    </nav>
  </div>
</div>

