%div.row.large-12.columns
  %div.large-8.columns.large-centered.text-center
    = raw @page.content_for(:body)
  %div.large-10.columns
    = form_for Refinery::WebUsers::WebUser.new, url: web_users_web_users_path do |f|
      %div.field.large-5.columns.large-centered.inline
        = f.text_field :first_name, class: 'input', required: 'required', placeholder: 'First Name'
      %div.field.large-5.columns.large-centered.inline
        = f.text_field :last_name, class: 'input', required: 'required', placeholder: 'Last Name'
      %div.field.large-5.columns.large-centered.inline
        = f.email_field :email, class: 'input', required: 'required', placeholder: 'Email'
      %div.field.large-5.columns.large-centered.inline
        = f.text_field :phone_number, class: 'input', placeholder: 'Phone Number'
      %div.field.large-5.columns.large-centered.inline
        = f.text_field :twitter_handle, class: 'input', placeholder: 'Twitter Handle'
      %div.field.message_field.large-10.columns
        = f.text_area :story, :rows => 5, required: 'required', placeholder: 'Share Your Story'
      %div.field.radio.large-10.columns
        = f.label :tweeter, "Are you interested in receiving emails with sample social media content for you to post?", class: 'inline'
        = f.radio_button :tweeter, "0", class: 'inline'
      %div.field.radio.large-10.columns
        = f.label :opinion_editorial, "Are you interested in writing an op-ed to be posted in a local newspaper?", class: 'inline'
        = f.radio_button :opinion_editorial, "0", class: 'inline'
      %div.field.radio.large-10.columns
        = f.label :letter_to_editor, "Are you interested in writing a letter to the editor to be posted in a local newspaper?", class: 'inline'
        = f.radio_button :letter_to_editor, "0", class: 'inline'
      %div.actions.large-12.columns
        = f.submit 'Sign Up!', class: "button radius"