%div.row
  %div.large-12.small-12.columns
    = content_for :body do |t|
      %div.large-6
        = form_for [refinery, :inquiries, @inquiry] do |f|
          = render :partial => "/refinery/admin/error_messages", :locals => { :object => @inquiry,:include_object_name => true}
          %div.field
            = f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')
          %div.field
            = f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')
          %div.field
            = f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')
          %div.field.message_field
            = f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry')
          %div.actions
            = f.submit t('.send'), class: "button radius"
            = link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link

= render :partial => "/refinery/content_page"