= render '/refinery/html_tag'
-site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  = site_bar
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  %header{:id => "header"}
    %div.strip
      = render '/refinery/header'
    %div.panel.bcimg.callout.radius
  %div{id: "page_container"}
    %div.row
      %div.large-12.columns
    %section{:id => "page", class: "row"}
      = yield
  %footer
    = render '/refinery/footer'
  = render '/refinery/javascripts'
