= render '/refinery/html_tag'
-site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  = site_bar
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  %header{:id => "header"}
    = render '/refinery/header'
  %div{id: "page_container"}
    %div.row
      %div.large-12.columns
        = image_tag @background_image if @background_image
    %section{:id => "page"}
      = yield
  %footer
    = render '/refinery/footer'
  = render '/refinery/javascripts'
