= render '/refinery/html_tag'
-site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  = site_bar
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  %div{id: "page_container"}
    %header{:id => "header"}
      = render '/refinery/header'
      %div.row#background-image
        / %div.large-12.columns.small-12.columns.side-nav
        / %div.large-8.small-8.columns.four.side-nav
        = image_tag @background_image if @background_image
    %section{:id => "page"}
      = yield
    %footer
      = render '/refinery/footer'
  = render '/refinery/javascripts'
