= render '/refinery/html_tag'
-site_bar = render('/refinery/site_bar', :head => true)
= render '/refinery/head'
%body
  = site_bar
  = render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/
  %header#header
    = render '/refinery/header'
  %div#background-image.row.large-12.columns
    = image_tag @background_image if @background_image
  %section#page.row.large-12
    = yield
  %footer
    = render '/refinery/footer'
  = render '/refinery/javascripts'
